#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
 #root ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 1rem;
 }

.app-wrapper {
  padding: 1em;
  background-color:aqua;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.title {
  font-size: 2rem;
  color: #333;
}
.task-form {
  display: flex;
  width: 100%;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.form-input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  height: 2rem;
  font-size: 1.5rem;
}

.form-button {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #13dbe6;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  min-width:fit-content;
  min-height: 2rem;
}

.form-button:hover {
  background-color: #1387e6;
  transition: background-color 0.5s;
}

.task-list_empty {
  font-size: 1.2rem;
  color: #ff0000;
  width: 100%;
  text-align: left;
  padding-left: 0.5rem;
}

.task-list_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 1rem;
}